/* General Styles */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Inter, Arial, sans-serif;
}

:root {
    --background: #FDFDFD;
    --foreground: #c0c0c0;
    --primary: #212121;
    --secondary: #1d1d1d;
}

.dark-theme {
    --primary: #FDFDFD;
    --secondary: #c0c0c0;
    --background: #212121;
    --foreground: #1d1d1d;
}

body {
    overflow-y: clip;
}

p {
    margin: 12px 0;
}

::-webkit-scrollbar {
    width:8px
}

::-webkit-scrollbar-track {
    background-color: var(--foreground);
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary)
}

::selection{
    background: #c0c0c0;
}

.material-icons {
    font-size: 32px !important;
}

/* App */

.notes {
    background-color: var(--background);
    color: var(--primary);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.notes__sidebar {
    height: 100vh;
    width: 30%;
    /* background: center / cover no-repeat linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url("../images/Sidebar Background.png"); */
    background: radial-gradient(111% 111% at 74.29% -11%, #a9330030 0%, #00557030 100%), linear-gradient(127.43deg, #00D5C830 0%, #2200AA30 100%);
    background-blend-mode: difference, normal;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 32px;
}

.notes__sidebar-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 12px;
    height: 10%;
    align-items: center;
}

.notes__sidebar-logo--link {
    width: 36px;
}

.notes__sidebar-logo--image {
    width: 36px;
}

.notes__add {
    width: 100%;
    background: none;
    color: var(--primary);
    text-align: right;
    border: none;
    cursor: pointer;
}

.notes__list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 80%;
    padding-right: 10px;
}

.notes__list-item {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    padding: 12px;
    transition: 0.1s ease;
    cursor: pointer;
}

.notes__list-item:nth-child(1) {
    margin-top: 0;
}

.notes__list-item--selected {
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.05);
    transition: 0.1s ease;
}

.notes__list-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
    text-decoration: underline;
}

.notes__small-title {
    font-weight: bold;
    font-size: 18px;
}

.notes__small-body {
    font-weight: normal;
    font-size: 16px;
}

.notes__small-updated {
    font-weight: normal;
    font-size: 12px;
    color: var(--secondary);
}

.notes__preview {
    height: 100vh;
    width: 70%;
    height: 100vh;
    padding: 48px;
    display: flex;
    flex-direction: column;
}

.notes__title {
    font-size: 32px;
    font-weight: bold;
    color: var(--primary);
    background: none;
    border: none;
    margin: 8px 0;
}

.notes__body {
    font-size: 16px;
    color: var(--primary);
    background: none;
    border: none;
    height: 90vh;
    resize: none;
}

.notes__sidebar-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 12px;
    height: 10%;
}

.notes__settings {
    width: 48px;
    background: none;
    color: var(--primary);
    text-align: left;
    border: none;
    cursor: pointer;
}

.notes__settings-modal-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(8px);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-open {
    display: flex;
}

.notes__settings-modal {
    width: 70%;
    height: 70%;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.notes__settings-modal-sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--foreground);
    width: 21.5%;
    height: 100%;
    padding: 32px;
}

.notes__settings-modal-sidebar-item {
    margin: 8px 0;
    cursor: pointer;
}

.notes__settings-modal-sidebar-item:hover {
    text-decoration: underline;
}

.notes__settings-modal-primary {
    display: flex;
    width: 78.5%;
}

.notes__settings-modal-tab {
    display: none;
    flex-direction: column;
    padding: 32px;
    height: 100%;
    width: 100%;
}

.active-tab {
    display: flex;
}

.notes__settings-modal-sidebar-item.active-tab {
    text-decoration: underline;
}

.notes__settings-close {
    width: 48px;
    background: none;
    color: var(--primary);
    text-align: left;
    border: none;
    cursor: pointer;
    height: 48px;
    margin-top: 12px;
    margin-right: 8px;
}

.notes__settings-theme-changer {
    display: flex;
    width: 100%;
    appearance: none;
    background-color: #00000000;
    border: none;
}

.notes__settings-theme-button {
    display: none;
}

.notes__settings-theme-label {
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 25%;
    appearance: none;
    --webkit-appearance: none;
    background-color: #00000000;
    border: none;
    cursor: pointer;
    color: var(--primary);
}

.notes__settings-theme-label:hover {
    background-color: var(--foreground);
}

.theme-thumbnail {
    width: 100%;
}

.notes__settings-theme-label:nth-child(2) {
    margin-right: 8px;
}