* {
    box-sizing: border-box;
    margin: 0;
    font-family: Inter, Arial, sans-serif;
}

:root {
    --background: #FDFDFD;
    --foreground: #c0c0c0;
    --primary: #212121;
    --secondary: #1d1d1d;
}

header {
    height: 12vh;
    padding: 32px;
}

.header-logo {
    width: 32px;
}